.articles {
    color: white;
    font-weight: bold;
    h1 {
        text-transform: uppercase;
        font-size: 1.3em;
        display: block;
        padding-bottom: 3px;
        border-bottom: 2px solid;
        margin: 10%;
        padding-right: 100px;
    }
    p {
        margin: 10%;
    }
    &__one{
        background-image: url('/images/neige.jpg');
        background-size: cover;
        // z-index: 1;
        // div {
        //     background: rgba(51,157,255,0.5);
        //     width: 100%;
        //     height: 100%;
        //     z-index: 10;
        // }
    }
    &__two{
        background-image: url('/images/arbre.jpg');
        background-size: cover;
        // z-index: 1;
        // div {
        //     background: rgba(51,157,255,0.5);
        //     width: 100%;
        //     height: 100%;
        //     z-index: 10;
        // }
    }
    &__three{
        background-image: url('/images/montagne.jpg');
        background-size: cover;
        // z-index: 1;
        // div {
        //     background: rgba(51,157,255,0.5);
        //     width: 100%;
        //     height: 100%;
        //     z-index: 10;
        // }
        
        
    }
    &__four{
        background-image: url('/images/fete.jpg');
        background-size: cover;
        // z-index: 1;
        // div {
        //     background: rgba(51,157,255,0.5);
        //     width: 100%;
        //     height: 100%;
        //     z-index: 10;
        // }
    }
}